body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #18181B; /* Dark background for the whole page */
  color: #E4E4E7; /* Lighter text color for better readability */
 
}

.setup-container {
  width: 100vw; /* Increased from 90% to 95% */
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: #242429;
  border-radius: 12px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
  align-content: center;
  align-items: center;
}

.setup-header {
  color: #FFFFFF; /* Pure white for the header for emphasis */
  margin-bottom: 2rem; /* More space above the first input field */
}

.setup-url-input {
  width: 90%;
}

.setup-url-input, .setup-button {
  padding: 0.75rem;
  margin-top: 1rem;
  background-color: #37373D; /* Darker shade for input and button backgrounds */
  border: 1px solid #52525B; /* Slight border to define edges */
  border-radius: 8px;
  color: #E4E4E7; /* Light text color for contrast */
  font-size: 1rem;
}

.setup-url-input:focus {
  outline: none;
  border-color: #8B5CF6; /* Highlight color for focused input */
  box-shadow: 0 0 0 2px rgba(139, 92, 246, 0.5); /* Soft glow effect */
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.setup-button {
  cursor: pointer; /* Indicate that the buttons are clickable */
  transition: background-color 0.2s ease-in-out;
  width: 50%;
}

.setup-button:hover {
  background-color: #4C4C52; /* Slightly lighter shade on hover for buttons */
}

/* Optional: Add a little margin at the bottom of the last button */
.setup-button:last-child {
  margin-bottom: 1rem;
}

.save {
  background-color: #735cf6;
}

.save:hover {
  background-color: #674dff;
}

.font-size-button {
  background-color: transparent;
  color: white;
}

.positive:hover {
  color: rgb(0, 255, 0);
}

.negative:hover {
  color: rgb(255, 0, 0);
}

.version {
  position: absolute;
  bottom: 0;
  left: 5px;
  font-weight: bold;
  opacity: 20%;
}